@using WebForTraining.Models;
@using WebForTraining.Database;
@{
    var cargoTypeID = Request.Params["cargoTypeID"];
    Layout = null;
    var CargoType = Administration.getCargoType(cargoTypeID);


}
@if (CargoType != null)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="tblCargoType">
            <thead>
                <tr>
                    <th><strong>Cargo Type Name</strong></th>
                    <th><strong></strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in CargoType)
                {
                    <tr>
                        <td><span class="underline">@obj.cargoTypeName</span></td>
                        <td>
                            <a data-id="@obj.cargoTypeID" onclick="javascript: ld_modal_fm('/Administration/AddEditCargoType', 'modalContentLoad', '@obj.cargoTypeID');" class="btn btn-metro btn-info btn-xs">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a data-id="@obj.cargoTypeID" onclick="javascript: delRecord('@obj.cargoTypeID','/Administration/deleteCargoType');" class="btn btn-metro btn-danger btn-xs">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning">No record to display</div>
}




